<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7558a132fca04f0d9afaaa45d7843ac3" style="width:900px; height:500px;"></div>
    <script>
        var chart_7558a132fca04f0d9afaaa45d7843ac3 = echarts.init(
            document.getElementById('7558a132fca04f0d9afaaa45d7843ac3'), 'white', {renderer: 'canvas'});
        var option_7558a132fca04f0d9afaaa45d7843ac3 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u5546\u54c1",
            "data": [
                {
                    "name": "\u897f\u6e56\u9f99\u4e95",
                    "value": 116253
                },
                {
                    "name": "\u5927\u4f5b\u9f99\u4e95",
                    "value": 108122
                },
                {
                    "name": "\u6b63\u5c71\u5c0f\u79cd",
                    "value": 201511
                },
                {
                    "name": "\u91d1\u9a8f\u7709",
                    "value": 281863
                },
                {
                    "name": "\u6d1e\u5ead\u78a7\u87ba\u6625",
                    "value": 86753
                },
                {
                    "name": "\u4fe1\u9633\u6bdb\u5c16",
                    "value": 59402
                },
                {
                    "name": "\u94c1\u89c2\u97f3",
                    "value": 475480
                },
                {
                    "name": "\u592a\u5e73\u7334\u9b41",
                    "value": 32334
                },
                {
                    "name": "\u8309\u8389\u82b1",
                    "value": 117960
                },
                {
                    "name": "\u5bff\u7709",
                    "value": 16086
                }
            ],
            "sort": "descending",
            "gap": 1,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u592a\u5e73\u7334\u9b41",
                "\u8309\u8389\u82b1",
                "\u6d1e\u5ead\u78a7\u87ba\u6625",
                "\u6b63\u5c71\u5c0f\u79cd",
                "\u897f\u6e56\u9f99\u4e95",
                "\u91d1\u9a8f\u7709",
                "\u5927\u4f5b\u9f99\u4e95",
                "\u5bff\u7709",
                "\u4fe1\u9633\u6bdb\u5c16",
                "\u94c1\u89c2\u97f3"
            ],
            "selected": {
                "\u897f\u6e56\u9f99\u4e95": true,
                "\u5927\u4f5b\u9f99\u4e95": true,
                "\u6b63\u5c71\u5c0f\u79cd": true,
                "\u91d1\u9a8f\u7709": true,
                "\u6d1e\u5ead\u78a7\u87ba\u6625": true,
                "\u4fe1\u9633\u6bdb\u5c16": true,
                "\u94c1\u89c2\u97f3": true,
                "\u592a\u5e73\u7334\u9b41": true,
                "\u8309\u8389\u82b1": true,
                "\u5bff\u7709": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u8336\u53f6\u7c7b\u578b\u9500\u91cf\u524d\u5341",
            "bottom": true
        }
    ]
};
        chart_7558a132fca04f0d9afaaa45d7843ac3.setOption(option_7558a132fca04f0d9afaaa45d7843ac3);
    </script>
</body>
</html>
