<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/zhejiang.js"></script>

</head>
<body>
    <div id="4d8251c561d644ffbede92d94b06278b" style="width:900px; height:500px;"></div>
    <script>
        var chart_4d8251c561d644ffbede92d94b06278b = echarts.init(
            document.getElementById('4d8251c561d644ffbede92d94b06278b'), 'white', {renderer: 'canvas'});
        var option_4d8251c561d644ffbede92d94b06278b = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "map",
            "name": "\u5546\u54c1\u9500\u91cf",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            },
            "mapType": "\u6d59\u6c5f",
            "data": [
                {
                    "name": "\u676d\u5dde\u5e02",
                    "value": 785137
                },
                {
                    "name": "\u6e56\u5dde\u5e02",
                    "value": 47070
                },
                {
                    "name": "\u91d1\u534e\u5e02",
                    "value": 27958
                },
                {
                    "name": "\u5609\u5174\u5e02",
                    "value": 11668
                },
                {
                    "name": "\u7ecd\u5174\u5e02",
                    "value": 11553
                },
                {
                    "name": "\u4e3d\u6c34\u5e02",
                    "value": 5737
                },
                {
                    "name": "\u5b81\u6ce2\u5e02",
                    "value": 1539
                },
                {
                    "name": "\u8862\u5dde\u5e02",
                    "value": 866
                },
                {
                    "name": "\u6e29\u5dde\u5e02",
                    "value": 371
                },
                {
                    "name": "\u53f0\u5dde\u5e02",
                    "value": 238
                }
            ],
            "roam": true,
            "zoom": 1,
            "showLegendSymbol": false
        }
    ],
    "legend": [
        {
            "data": [
                "\u5546\u54c1\u9500\u91cf"
            ],
            "selected": {
                "\u5546\u54c1\u9500\u91cf": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u6d59\u6c5f\u7701\u57ce\u5e02\u5546\u54c1\u9500\u91cf\u5206\u5e03"
        }
    ],
    "visualMap": {
        "type": "continuous",
        "min": 200,
        "max": 800000,
        "inRange": {
            "color": [
                "#50a3ba",
                "#eac763",
                "#d94e5d"
            ]
        },
        "calculable": true,
        "splitNumber": 5,
        "orient": "vertical",
        "showLabel": true
    }
};
        chart_4d8251c561d644ffbede92d94b06278b.setOption(option_4d8251c561d644ffbede92d94b06278b);
    </script>
</body>
</html>
