<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>

</head>
<body>
    <div id="537aa1aac51e47fbb97348a9b04ec624" style="width:900px; height:500px;"></div>
    <script>
        var chart_537aa1aac51e47fbb97348a9b04ec624 = echarts.init(
            document.getElementById('537aa1aac51e47fbb97348a9b04ec624'), 'white', {renderer: 'canvas'});
        var option_537aa1aac51e47fbb97348a9b04ec624 = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u897f\u6e56\u9f99\u4e95",
                    "value": 136,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(72,160,41)"
                        }
                    }
                },
                {
                    "name": "\u5927\u4f5b\u9f99\u4e95",
                    "value": 28,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,70,26)"
                        }
                    }
                },
                {
                    "name": "\u6b63\u5c71\u5c0f\u79cd",
                    "value": 126,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(30,6,110)"
                        }
                    }
                },
                {
                    "name": "\u91d1\u9a8f\u7709",
                    "value": 177,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(115,27,119)"
                        }
                    }
                },
                {
                    "name": "\u6d1e\u5ead\u78a7\u87ba\u6625",
                    "value": 86,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(123,65,126)"
                        }
                    }
                },
                {
                    "name": "\u4fe1\u9633\u6bdb\u5c16",
                    "value": 70,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,49,100)"
                        }
                    }
                },
                {
                    "name": "\u94c1\u89c2\u97f3",
                    "value": 197,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,102,117)"
                        }
                    }
                },
                {
                    "name": "\u592a\u5e73\u7334\u9b41",
                    "value": 30,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,15,94)"
                        }
                    }
                },
                {
                    "name": "\u8309\u8389\u82b1",
                    "value": 44,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,1,23)"
                        }
                    }
                },
                {
                    "name": "\u5bff\u7709",
                    "value": 15,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,122,83)"
                        }
                    }
                },
                {
                    "name": "\u5927\u7ea2\u888d",
                    "value": 140,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,26,25)"
                        }
                    }
                },
                {
                    "name": "\u65e5\u7167\u7eff\u8336",
                    "value": 24,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(10,39,114)"
                        }
                    }
                },
                {
                    "name": "\u7ec4\u5408\u578b\u82b1\u8336",
                    "value": 37,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(89,62,140)"
                        }
                    }
                },
                {
                    "name": "\u5176\u4ed6/other",
                    "value": 95,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(83,74,54)"
                        }
                    }
                },
                {
                    "name": "\u9ed1\u4e4c\u9f99",
                    "value": 15,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(66,126,24)"
                        }
                    }
                },
                {
                    "name": "\u84b2\u516c\u82f1\u8336",
                    "value": 12,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(78,97,33)"
                        }
                    }
                },
                {
                    "name": "\u51e4\u51f0\u5355\u4e1b",
                    "value": 40,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(106,143,66)"
                        }
                    }
                },
                {
                    "name": "\u83ca\u82b1",
                    "value": 23,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(149,22,54)"
                        }
                    }
                },
                {
                    "name": "\u91d1\u94f6\u82b1\u8336",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(19,31,111)"
                        }
                    }
                },
                {
                    "name": "\u6d59\u6c5f\u9f99\u4e95",
                    "value": 11,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(33,88,121)"
                        }
                    }
                },
                {
                    "name": "\u767d\u6beb\u94f6\u9488",
                    "value": 13,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(2,119,78)"
                        }
                    }
                },
                {
                    "name": "\u767d\u7261\u4e39",
                    "value": 17,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(54,116,122)"
                        }
                    }
                },
                {
                    "name": "\u96c0\u820c",
                    "value": 41,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(37,146,103)"
                        }
                    }
                },
                {
                    "name": "\u9ec4\u5c71\u6bdb\u5cf0",
                    "value": 39,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(6,50,33)"
                        }
                    }
                },
                {
                    "name": "\u5b89\u5316\u9ed1\u8336",
                    "value": 16,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(76,145,130)"
                        }
                    }
                },
                {
                    "name": "\u82e6\u835e\u8336",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(108,76,88)"
                        }
                    }
                },
                {
                    "name": "\u8377\u53f6\u8336",
                    "value": 8,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,21,97)"
                        }
                    }
                },
                {
                    "name": "\u5b89\u5409\u767d\u8336",
                    "value": 45,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(48,86,56)"
                        }
                    }
                },
                {
                    "name": "\u516d\u5b89\u74dc\u7247",
                    "value": 13,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(31,64,89)"
                        }
                    }
                },
                {
                    "name": "\u6ec7\u7ea2",
                    "value": 39,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(19,96,127)"
                        }
                    }
                },
                {
                    "name": "\u7941\u95e8\u7ea2\u8336",
                    "value": 15,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(74,136,156)"
                        }
                    }
                },
                {
                    "name": "\u67e0\u6aac\u7247",
                    "value": 9,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,124,153)"
                        }
                    }
                },
                {
                    "name": "\u82e6\u4e01\u8336",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(13,11,59)"
                        }
                    }
                },
                {
                    "name": "\u6842\u82b1\u8336",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(65,120,158)"
                        }
                    }
                },
                {
                    "name": "\u5a7a\u6e90\u8317\u7709",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(95,146,11)"
                        }
                    }
                },
                {
                    "name": "\u662d\u5e73\u7eff\u8336",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(122,29,95)"
                        }
                    }
                },
                {
                    "name": "\u5d02\u5c71\u7eff\u8336",
                    "value": 9,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(61,7,79)"
                        }
                    }
                },
                {
                    "name": "\u970d\u5c71\u9ec4\u82bd",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(114,90,18)"
                        }
                    }
                },
                {
                    "name": "\u5ce8\u7709\u5c71\u8336",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(140,5,84)"
                        }
                    }
                },
                {
                    "name": "\u96e8\u82b1\u8336",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(39,138,29)"
                        }
                    }
                },
                {
                    "name": "\u73ab\u7470\u82b1",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(45,45,109)"
                        }
                    }
                },
                {
                    "name": "\u5e90\u5c71\u4e91\u96fe",
                    "value": 6,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(8,4,12)"
                        }
                    }
                },
                {
                    "name": "\u5176\u4ed6\u4e4c\u9f99\u8336",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(79,115,8)"
                        }
                    }
                },
                {
                    "name": "\u90fd\u5300\u6bdb\u5c16",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(101,114,47)"
                        }
                    }
                },
                {
                    "name": "\u53f0\u6e7e\u9ad8\u5c71\u8336",
                    "value": 18,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(155,4,56)"
                        }
                    }
                },
                {
                    "name": "\u516b\u5b9d\u8336",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(14,33,157)"
                        }
                    }
                },
                {
                    "name": "\u5176\u4ed6\u767d\u8336",
                    "value": 8,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,13,154)"
                        }
                    }
                },
                {
                    "name": "\u5927\u9ea6\u8336",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(125,104,5)"
                        }
                    }
                },
                {
                    "name": "\u8089\u6842",
                    "value": 3,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(49,88,91)"
                        }
                    }
                },
                {
                    "name": "\u5348\u5b50\u4ed9\u6beb",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(154,83,155)"
                        }
                    }
                },
                {
                    "name": "\u8584\u8377\u53f6",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(80,47,112)"
                        }
                    }
                },
                {
                    "name": "\u6069\u65bd\u7389\u9732",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(107,60,51)"
                        }
                    }
                },
                {
                    "name": "\u6c34\u4ed9",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(136,106,19)"
                        }
                    }
                },
                {
                    "name": "\u72d7\u726f\u8111\u8336",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(11,132,16)"
                        }
                    }
                },
                {
                    "name": "\u8499\u9876\u6bdb\u5cf0",
                    "value": 5,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(128,133,136)"
                        }
                    }
                },
                {
                    "name": "\u798f\u9f0e\u767d\u8336",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(23,86,131)"
                        }
                    }
                },
                {
                    "name": "\u91c7\u82b1\u6bdb\u5c16",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(121,70,76)"
                        }
                    }
                },
                {
                    "name": "\u78a7\u87ba\u6625",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(144,121,83)"
                        }
                    }
                },
                {
                    "name": "\u5f00\u5316\u9f99\u9876",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(94,25,71)"
                        }
                    }
                },
                {
                    "name": "\u541b\u5c71\u94f6\u9488",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(20,82,126)"
                        }
                    }
                },
                {
                    "name": "\u7384\u7c73\u8336",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,134,102)"
                        }
                    }
                },
                {
                    "name": "\u8499\u9876\u7518\u9732",
                    "value": 4,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(63,117,64)"
                        }
                    }
                },
                {
                    "name": "\u51bb\u9876\u4e4c\u9f99",
                    "value": 2,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(24,38,31)"
                        }
                    }
                },
                {
                    "name": "\u7d2b\u9633\u6bdb\u5c16",
                    "value": 1,
                    "textStyle": {
                        "normal": {
                            "color": "rgb(87,30,83)"
                        }
                    }
                }
            ]
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "WordCloud"
        }
    ]
};
        chart_537aa1aac51e47fbb97348a9b04ec624.setOption(option_537aa1aac51e47fbb97348a9b04ec624);
    </script>
</body>
</html>
